body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
main {
    display: flex;
    padding: 0px;
}
header {
    background-color: #2d5f4e;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}
header h1 {
    margin: 0;
    margin-left: 50px;
    padding: 10px;
    text-align: left;
}
header .welcome{
    text-align: right;
    right: 20px;
    top: 20px;
    position: absolute;
    font-weight:bold;
    font-style:oblique;
}
nav{
    background-color: #E1F2DB;
    color: black;
    text-align: right;
    padding: 2px;
    font-size: small;
}
nav ul{
    list-style: None;
    padding:0;
}

nav ul li{
    display: inline;
    margin:0 20px;
    
}
a{
    text-decoration: none;
    color:black
}
aside{
    width: 20%;
    height: 100%;
    background-color: #eff1ef;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
    border-right: 1px solid #ddd;
}

aside ul {
    list-style: none;
    padding: 0;
}
aside ul li{
    background-color: #ffffff;
    margin-bottom: 5px;
    font-size: small;
    padding: 5px;
    text-align: center;
    border: 1px solid #afc2bc;
}
.links{
    background-color: #2d5f4e;
    width: 100%;
    width: calc(100% + 6px); /* Adjust width to account for the padding of the aside */
    padding: 10px;
    margin-left: -20px;
    margin-right: -20px;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}

.section {
    background-color: #F5F8CC;
    padding: 50px;
    
    margin: 50px;
    margin-top: 0px;
    margin-left: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}
section {
    width: 100%;
    padding: 5px;
}
section h2{
    margin-top: 0px;
    font-size:1.5em;
}
section img {
    width: 80%; 
    display: block;
    margin-bottom: 10px;
}
section button {
    background-color: #2d5f4e;
    color: white;
    padding: 10px 20px;
    margin-top: 50px;
    margin-bottom: -20px;
    border: none;
    cursor: pointer;
}
section button:hover {
    background-color: #1e4634;
}
footer{
    padding-top: 20px ;
    padding-bottom: 20px ;
    background-color:#2d5f4e;
    text-align: center;
    color: #E1F2DB;
}
footer a{
    color: #E1F2DB;
}
.uni{
    font-weight:bolder
}
